{
    "$schema": "https://json-schema.org/draft/2020-12/schema",
    "$id": "https://raw.githubusercontent.com/blues/notecard-schema/master/env.template.rsp.notecard.api.json",
    "title": "env.template Response Application Programming Interface (API) Schema",
    "description": "Response containing the maximum number of bytes for the environment variable template.",
    "type": "object",
    "version": "1.0.0",
    "apiVersion": "9.1.1",
    "skus": [
        "CELL",
        "CELL+WIFI",
        "LORA",
        "WIFI"
    ],
    "properties": {
        "bytes": {
            "description": "The maximum number of bytes that will be used when environment variables are communicated or stored, so long as the variables do not include variable-length strings.",
            "type": "integer"
        }
    },
    "additionalProperties": false,
    "samples": [
        {
            "title": "Template Size Response",
            "description": "Response showing the maximum bytes used by the environment variable template.",
            "json": "{\"bytes\": 22}"
        }
    ]
}
