[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
jsonschema = "*"
requests = "*"
mkdocs = "*"
mkdocs-llmstxt = "*"
referencing = "*"
pre-commit = "*"

[requires]
python_version = "3.13"

[packages]

[scripts]
setup-hooks = "pre-commit install"
